export(cellocator)
export(CarToPol)
export(PolToCar)
export(arcpoints)
export(arcdist)
export(arcdistmat)
export(gridlabs)
export(guides3d)
export(occupied)
export(pos)
export(rpsphere)
export(facelayer)
export(trigrid)
export(hexagrid)
export(surfacechullsphere)
exportClasses(facelayer)
exportClasses(hexagrid)
exportClasses(trigrid)
exportMethods("[")
exportMethods("[<-")
exportMethods("orientation<-")
exportMethods(SpLines)
exportMethods(SpPolygons)
exportMethods(edgelength)
exportMethods(faces3d)
exportMethods(gridlabs3d)
exportMethods(length)
exportMethods(lines)
exportMethods(lines3d)
exportMethods(surfacearea)
exportMethods(names)
exportMethods(newsp)
exportMethods(orientation)
exportMethods(plot)
exportMethods(plot3d)
exportMethods(resample)
exportMethods(rotate)
exportMethods(subset)
exportMethods(values)
exportMethods("values<-")
exportMethods(locate)
exportMethods(trishape)
exportMethods(newgraph)
exportMethods(gridgraph)
exportMethods(vicinity)
exportMethods(faces)
exportMethods(centers)
exportMethods(vertices)
exportMethods(edges)
exportMethods(translate)
export(chullsphere)
export(chullsphereOLD)
export(heatMapLegend)
export(surfacecentroid)
importFrom(Rcpp,sourceCpp)
importFrom(raster,rotate)
importFrom(raster,subset)
importFrom(raster,values)
importFrom(raster,"values<-")
importFrom(raster,resample)
importFrom(rgl,lines3d)
importFrom(rgl,plot3d)
importFrom(rgl,persp3d)
importFrom(sp,coordinates)
importFrom(igraph,graph_from_data_frame)
importFrom(igraph,induced_subgraph)
importFrom(sp,Line)
importFrom(sp,Lines)
importFrom(sp,SpatialLines)
importFrom(sp,Polygon)
importFrom(sp,Polygons)
importFrom(sp,SpatialPolygons)
importFrom(sp,plot)
importFrom(sp,CRS)
importFrom(sp,spsample)
importFrom("grDevices", "colorRampPalette", "colors", "heat.colors")
importFrom("graphics", "grid", "par", "rect", "segments", "text")
importFrom("methods", ".hasSlot", "as", "callGeneric", "new")
importFrom("stats", "dist", "rnorm", "runif")
importFrom("utils", "combn")
useDynLib(icosa, .registration = TRUE, .fixes="Cpp")
